{border:1px solid red}

body {
  font-family:helvetica;
  font-size:22px;
  color:seashell;
  background-color:black;
  text-align:center;
  margin: 0px auto;
}

header {
  display:flex;
  height:69px;
  justify-content:space-between;
  align-items:center;
  position:fixed;
  width:100%;
  border-bottom:1px solid seashell;
}
header img{
  height:50px;
  padding-left:10px;
}
nav a {
  color:seashell;
  padding-right:10px;
}
main {
  width:1200px;
  margin:0px auto;
  padding-top:70px;
}
h2, h4 {
  margin:15px;
}
.mission {
  display:flex;
  justify-content:center;
  align-items:center;
  height:700px;
  background-image:url(images/spice-jar.jpg);
}
.mission .content {
background-color:black;
width:100%;
}
